div{
	float:left;
overflow: scroll;
height: 170px;
width: 200px;
color: white;
text-align: center;
background-image: url(1.jpg);
background-repeat: no-repeat;
}
#s1{background-attachment:fixed;}
#s2{background-attachment:local; background-repeat: repeat-y;}